body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: burlywood;
}

#titulo{
    padding: 8px;
    background-color: brown;
    color: white;
}

a{
    text-decoration: none;
    padding: 8px;
}

#rodape{
    margin-top: 20px;
    padding: 8px;
    font-size: small;
    font-style: italic;
}

h5{
    margin-left: 8px;
}

.mostrar{
    display: none;
    border: 1px solid #000;
    font-size: 75px;
    width: 200px;
    height: 100px;
}