.button{
    border: none;
    border-bottom: 1px solid #888;
    border-right: 1px solid #888;
    background-color: #f0f0f0;
    font-size: 1.4em;
    outline: none;
}

.button:active{
    background-color: #ccc;
}

.button.double{
    grid-column: span 2;
}

.button.triple{
    grid-column: span 3;
}

.button.operation{
    background-color: #fa8231;
    color: #fff;
}

.button.operation:active{
    background-color: #fa8231cc;
}